<div class="w-60 bg-base-200 h-screen">

  <div class="px-8 py-4">
    <div class="flex items-center gap-2 hover:bg-base-100 p-2 rounded-md">
      <div class="avatar">
        <div class="w-10 rounded-full">
          <img src="assets/logo.png">
        </div>
      </div>
      <div class="text-lg font-bold">
        BLOGS
      </div>
    </div>
  </div>

  <ul class="menu px-4 w-auto rounded-box">
    <li><a>Blogs</a></li>
    <li><a>Usuarios</a></li>
    <li><a>Escribir un blog</a></li>
    <li><a>About</a></li>
  </ul>

</div>
