<div class="navbar gap-2 justify-end">

  <label for="my-drawer-2" class="btn btn-ghost drawer-button lg:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </label>

  <div class="flex-1">
    <div class="form-control w-full lg:w-1/2">
      <input type="text" placeholder="Search" autocomplete="off" class="input input-bordered w-full">
    </div>
  </div>

  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <label tabindex="0">

        <!-- User data -->
        <div class="flex items-center gap-2" *ngIf="usuarioAuth">
          <div class="text-lg hidden sm:block">
            {{usuarioAuth.nombre}}
          </div>
          <div class="avatar">
            <div class="w-10 rounded-full">
              <img [src]="usuarioAuth.img || 'assets/user.png'">
            </div>
          </div>
        </div>

        <!-- Esqueleto -->
        <div class="flex items-center gap-2 rounded-xl px-4 py-2 animate-pulse" *ngIf="isLoading">
          <div class="w-24 h-4 rounded-xl hidden sm:block bg-base-content animate-pulse"></div>
          <div class="rounded-full w-10 h-10 bg-base-content animate-pulse"></div>
        </div>

      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">

        <li *ngIf="usuarioAuth">
          <a routerLinkActive="active" routerLink="/home/perfil/{{usuarioAuth._id}}">Profile</a>
        </li>
        <li *ngIf="usuarioAuth">
          <a routerLinkActive="active" routerLink="/home/perfil/config">Settings</a>
        </li>

        <!-- Esqueleto -->
        <li class="animate-pulse" *ngIf="isLoading"><a href="">Cargando..</a></li>
        <li class="animate-pulse" *ngIf="isLoading"><a href="">Cargando..</a></li>

        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>

</div>
